/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/
nav, ul, main{
  display: flex;
  justify-content: space-between;
}
nav, ul {
  height: 3vh;
}
nav{
  align-items: center;
}

ul{
  flex-basis: 60%;
  justify-content: space-around;

}
main section{
  flex-basis: 48%;
}
main section + section{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;  
}

header{
  background-color: black;
}
nav>a{
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  border: 1px solid red;
  
}

nav ul a{
  text-decoration: none;
  color: white;


}
nav ul li{
  border-left: 1px solid white;
  border-right: 1px solid white;
  flex-basis: 7.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
nav img{
  height: 2.5vh;
}

header form{
  display: flex;
  justify-content: center;
  align-items: center;
}
header form input::placeholder{
  color: black;
  font-weight: bold;
}
.logo{
  border-right: 2px solid gray
}
/********************
/* ADDITIONAL STYLES
/*******************************************/
