/* Please give the h1 some padding on three sides, margin on just one side, and a light purple background with light blue lettering */
h1 {
    padding: 5px 10px 15px 0;
    margin: 20px 0 0 0;
    background: #c500c5;
    color: #0000ff
}
/* Please give the h2 significant padding on the top and bottom, a dark green border on the top and bottom, and an orange background */
h2 {
    padding: 20px 0;
    border-bottom: 10px solid #003f00;
    border-top: 10px solid #003f00;
    background: orange;

}
/* Please give the section a thick blue border, height of 300px, and more the 400px of margin on the top */
	section {
        border: 15px solid blue;
        height: 300px;
        margin: 450px 0 0 0;
    }
/* Please make the spans have thin yellow borders and equal padding / margin on all sides */
span{
    border: 1px solid yellow;
    padding: 5px;
    margin: 20px;
}