/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/




/******************************************
/* LAYOUT
/*******************************************/
header {
  border-bottom: 1px solid gray;
}

nav {
  width: 75%;
  margin: 0 auto;
}

nav img {
  margin-left: 16%;
  width: 18%;
}

nav span, nav form {
  float: left;
  color: blue;
}
nav span {
  width: 8%;
}
nav form{
  width: 18%;
  margin: 1vh 0;
}
nav form input{
  width: 100%;
  background: rgb(235, 233, 233);
  height: 4vh;
  border: none;
}
nav form input::placeholder{
  color: blue;
  font-size: 1.1rem;

}


nav > *{
  font-size: 1.1rem;
}
nav span, nav ul{
  margin: 1.5vh 0;
}

nav ul {
  float: right;
}
nav ul li{
  float: left;
  list-style: none;
  
}
nav ul li a {
  color: blue;
  text-decoration: none;
  margin: 0 .5vw;
}





main{
  clear: both;
  margin: 8%;
}


.student-image{
  background-image: url("https://communitytaught.org/img/resources/khan-academy.png");
  background-size: 340%;
  background-position: -500px -185px;
  width: 50%;
  height: 50vh;
  float: left;
}

main section{
  float: right;
  width: 50%;
  margin: 7% 0 0 0;
}
section h1{
  font-size: 3.5rem;
  width: 75%;
  margin-bottom: 3%;
}
section p{
  word-spacing: .5rem;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}
section span{
  border-bottom: 2px solid lightgreen;
}

section ul li{
  float: left;
  background: rgb(57, 57, 253);
  border-radius: 6%;
  margin-right: 1%;
  color: white;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 4vh;
  font-size: 2vh;
  width: 15%;
  list-style: none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
