/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
/*floats with clear property*/
/* header, footer{
  border: 1px solid black;
  height: 100px;
  clear: both;
}
section{
  border: 1px solid black;
  height: 200px;
  width: 33%;

}

.top{
  float: left;
  width: 33.33%;
}
.bottom{
  float: left;
  width: 50%;
} */

/* floats with clearfix class*/
/* header,footer, section{
  border: 1px solid black;
}
header,footer{
  height: 100px
}

section:not(.bottom){
  height: 200px;
  float: left;

}
main>section{
  width: 33%;
  float: left;

}

.bottom > section{
  width: 50%;
} */


/*flex*/
header, footer, section:not(.bottom){
  border: 1px solid black;

}
header, footer{
  height: 100px;
}
main,.bottom{
  display: flex;
}
section:not(.bottom){
  height: 200px;
  flex: 1;
}
/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
